BFF.Proxy/bin
BFF.Proxy/obj

IDP.WebApp/bin
IDP.WebApp/obj
IDP.WebApp/IDP.db
IDP.WebApp/IDP.db-shm
IDP.WebApp/IDP.db-wal
IDP.WebApp/keys
IDP.WebApp/Migrations

Resource.Api/bin
Resource.Api/obj

Client.Web/node_modules
Client.Web/package-lock.json

.vscode/